body {
    background-color: #adbbff;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding-top: 297px;
}

.nav-heading {
    padding-left: 35px;
}

/* .container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  } */